.homeTile {
    min-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #f2f2f2;
}

.homeTile-content {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    justify-content: space-between;
}

.homeTile-image {
    width: 50%;
    max-width: 800px;
    height: auto;
    margin-right: 0px;
    margin-left: 0px;
}

.homeTile-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 40px;
    margin-right: 40px;
}

.homeTile-title {
    margin: 0 0 10px 0;
    font-size: 1.5rem;
    color: #333;
}

.homeTile-textBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
}